:root {
    font-size: 62.5%;
}
body{
    margin: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}
.phone{
    position: relative;
    border: 8px solid black;
    border-radius: 40px;
    height: 600px;
    width: 300px;
    background: #ccefff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.40);
    counter-reset: rabbit;
    overflow: hidden;
}
.phone h2{
    position: absolute;
    left: 49px;
    top: 20px;
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.count{
    position: absolute;
    top: 70px;
    left: 119px;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
input[type="checkbox"]:checked {
    counter-increment: rabbit;
  }
.count::after {
    content: counter(rabbit);
  }

/*.score:checked {
    counter-increment: score;
}
.score::after{
    content: counter(score)
}
input [type=checkbox]:focus {
    appearance: none;
    outline: none;
}*/
.layer-1{
    position: absolute;
    z-index: 1;
    height: 450px;
    width: 80px;
    bottom: 0;
    right: 60px;
    animation-name: layer-1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes layer-1 {
    0%{
        bottom: 0;
    }
    25%{
        bottom: -80px;
    }
    100%{
        bottom: 0;
    }
}
.layer-1 input[type=checkbox] {
    position: absolute;
    appearance: none;
    cursor: pointer;
    z-index: 1;
    width: 100%;
    height: 80px;
}
.layer-2{
    position: absolute;
    z-index: 2;
    height: 450px;
    width: 80px;
    bottom: 0;
    left: 60px;
    animation-name: layer-2;
    animation-duration: 1.1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes layer-2 {
    0%{
        bottom: 0;
    }
    25%{
        bottom: -90px;
    }
    100%{
        bottom: 0;
    }
}
.layer-2 input[type=checkbox] {
    position: absolute;
    appearance: none;
    cursor: pointer;
    z-index: 1;
    width: 100%;
    height: 80px;
}
.layer-3{
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 220px;
    height: 400px;
    background: #967E76;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.40) ;
}
.layer-4{
    position: absolute;
    z-index: 4;
    height: 350px;
    width: 80px;
    bottom: 0;
    right: 150px;
    animation-name: layer-4;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes layer-4 {
    0%{
        bottom: 0;
    }
    25%{
        bottom: -60px;
    }
    100%{
        bottom: 0;
    }
}
.layer-4 input[type=checkbox] {
    position: absolute;
    appearance: none;
    cursor: pointer;
    z-index: 1;
    width: 100%;
    height: 80px;
}
.layer-5{
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    margin: 0 ;
    width: 200px;
    height: 300px;
    background: #D7C0AE;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.40) ;
}
.layer-6{
    position: absolute;
    z-index: 6;
    height: 270px;
    width: 80px;
    bottom: 0;
    right: 34px;
    animation-name: layer-6;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes layer-6 {
    0%{
        bottom: 0;
    }
    25%{
        bottom: -50px;
    }
    100%{
        bottom: 0;
    }
}
.layer-6 input[type=checkbox] {
    position: absolute;
    appearance: none;
    cursor: pointer;
    z-index: 1;
    width: 100%;
    height: 80px;
}
.layer-7{
    position: absolute;
    z-index: 7;
    right: 0;
    margin: 0 ;
    width: 150px;
    height: 220px;
    background: #967E76;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.40) ;
}
.layer-8{
    position: absolute;
    z-index: 8;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    margin: 0 auto;
    block-size: 6rem;
    inline-size: 70%;
    background-color: #3D8361;
    overflow: visible;
}
.layer-9{
    position: absolute;
    z-index: 9;
    background-color: whitesmoke;
    inset-inline-start: 0;
    inset-block-end: 0;
    block-size: 6rem;
    inline-size: 6rem;
    overflow: visible;
}
.layer-10{
    position: absolute;
    z-index: 10;
    background-color: whitesmoke;
    inset-inline-end: 0;
    inset-block-end: 0;
    block-size: 6rem;
    inline-size: 6rem;
    overflow: visible;
  }
.left-ear--outer{
    background: white;
    border-radius: 90%;
    width: 20px;
    height: 50px;
    position: absolute;
    left: 10px;
}
.left-ear--inner{
    background: pink;
    border-radius: 70%;
    width: 10px;
    height: 50px;
    position: absolute;
    left: 15px;
    top: 8px;
}
.right-ear--outer{
    background: white;
    border-radius: 90%;
    width: 20px;
    height: 50px;
    position: absolute;
    right: 10px;
}
.right-ear--inner{
    background: pink;
    border-radius: 70%;
    width: 10px;
    height: 50px;
    position: absolute;
    right: 15px;
    top: 8px;
}
.head{
    background: white;
    border-radius: 50%;
    height: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    top: 30px;
    width: 100%;
}
.head__eye{
    background: gray;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 15px;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes blink {
    0%{
        height: 5px;
    }
    5%{
        transform: translate(0px,2px);
        height: 1px;
    }
    10%{
        transform: translate(0px, 0px);
        height: 5px;
    }
}
.head__eye--left{
    left: 30px;
}
.head__eye--right{
    right: 29px;
}
.bush {
    background-color: #3D8361;
    position: absolute;
    border-radius: 50%;
    block-size: 9rem;
    inline-size: 9rem;
  }
.bush-1 {
    inset-inline-start: 50%;
    -webkit-transform: translate(-50%, -60%);
    -ms-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
  }
  .bush-2 {
    inset-inline-start: 0;
    -webkit-transform: translate(0%, -30%);
    -ms-transform: translate(0%, -30%);
    transform: translate(0%, -30%);
  }
  .bush-3 {
    inset-inline-end: 0;
    -webkit-transform: translate(0%, -30%);
    -ms-transform: translate(0%, -30%);
    transform: translate(0%, -30%);
  }
  .cloud {
    background-color: whitesmoke;
    position: absolute;
    border-radius: 50%;
    block-size: 6rem;
    inline-size: 6rem;
  }
  .cloud--left-1 {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cloud--left-2 {
    inset-block-start: 1rem;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  .cloud--right-1 {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cloud--right-2 {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }